<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Acesso negado</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <div class="text-center">
            <h1 class="display-4">403</h1>
            <p class="lead">Acesso negado</p>
            <p>Você não tem permissão para acessar esta página.</p>
            <a th:href="@{/}" class="btn btn-primary">Voltar para a página inicial</a>
        </div>
    </div>
</body>
</html> 