<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Não implementado</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <div class="text-center">
            <h1 class="display-4">501</h1>
            <p class="lead">Não implementado</p>
            <p>O servidor não suporta a funcionalidade necessária para atender à requisição.</p>
            <a th:href="@{/}" class="btn btn-primary">Voltar para a página inicial</a>
        </div>
    </div>
</body>
</html> 