<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Bad Gateway</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <div class="text-center">
            <h1 class="display-4">502</h1>
            <p class="lead">Bad Gateway</p>
            <p>O servidor recebeu uma resposta inválida do servidor upstream.</p>
            <a th:href="@{/}" class="btn btn-primary">Voltar para a página inicial</a>
        </div>
    </div>
</body>
</html> 